.container {
  width: 89vw;
  min-height: 79vh;
  padding: 5%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url("Image/fondo.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search_bar{
    width: 50%;
    max-width: 700%;
    background: rgba(255, 255, 255, 0.096);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}
.search_bar input{
    flex: 1;
    background: transparent;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #020202;
}
::placeholder{
    color: #cac7ff
}
.search_bar button img{
    width: 25px;
}
.search_bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #ffffff;
    cursor: pointer;
}